services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: my-esp32-mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log

  redis:
    image: redis:7-alpine
    container_name: my-esp32-redis
    ports:
      - "6381:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    container_name: my-esp32-api
    depends_on:
      - mosquitto
      - redis
    volumes:
      - ./apps/api:/workspace/apps/api
      - api_node_modules:/workspace/apps/api/node_modules
      - ./data:/workspace/apps/api/data
    environment:
      NODE_ENV: development
      NPM_CONFIG_PRODUCTION: "false"
      NPM_CONFIG_OMIT: ""
      PORT: "3000"
      MQTT_URL: mqtt://mosquitto:1883
      MQTT_TOPIC_PREFIX: /device
      REDIS_URL: redis://redis:6379
      SQLITE_PATH: /workspace/apps/api/data/telemetry.sqlite
      SQLITE_JOURNAL_MODE: DELETE
    ports:
      - "3000:3000"

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    container_name: my-esp32-web
    depends_on:
      - api
    volumes:
      - ./apps/web:/workspace/apps/web
      - web_node_modules:/workspace/apps/web/node_modules
    environment:
      NODE_ENV: development
      NPM_CONFIG_PRODUCTION: "false"
      NPM_CONFIG_OMIT: ""
      VITE_API_PROXY_TARGET: http://api:3000
    ports:
      - "5173:5173"

volumes:
  mosquitto_data:
  mosquitto_log:
  redis_data:
  api_node_modules:
  web_node_modules:
